<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SisFerretero.Properties.Settings.FerreteriaDBConnectionString"
            connectionString="Data Source=Albert\SQLEXPRESS2012;Initial Catalog=FerreteriaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>